/* FONTS */
	/* NORMAL */
	@font-face {
		font-family:'main';
		src: url('assets/fonts/GoogleSansFlex_72pt-Regular.ttf');
	}
	@font-face {
		font-family:'bold';
		src: url('assets/fonts/GoogleSansFlex_9pt-Bold.ttf');
	}
/* ROOT */
html {
    /* 1 rem = 10px */
    font-size: 62.5%; 
}
:root {
	/* BACKGROUDNS */
	--background1: #F3F3F3;
	--background2: #FFFFFF;
	/* SOLID COLORS */
	--black: #3E3E3E;
	--green2: #239654;
	/* TEXT */
	--text1: #000000;
	--text2: #E0E0E0;
}
/* TEXT */
.clock h1 {
	font-size: 100px;
}
.lapClass {
	font-size: 32px;
}
/* GENERAL */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--text1);
	font-family:'main';
}
/* INTERACTION */
button {
	background-color: var(--background2);
	border: 0.5rem solid var(--black); 
	border-radius: 12px;
	font-size: 2rem;
	padding: 2rem;
}
button:hover {
	background-color: var(--background1);
	cursor: pointer;
}
/* ANIMATIONS */
@keyframes move{
	from {background-position: 0 0;}
	to {background-position: 64px 0;}
}
/* CONTAINERS */
main, section {
	justify-content: center;
	align-items: center;
}
main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url('assets/images/background.png');
	background-size: 64px;
	background-repeat: repeat;
	animation: move 5s linear infinite;
}
section {
	display: grid;
	grid-template-columns: 60% 1fr;
	gap: 2rem;
	background-color: var(--background2);
	padding: 2rem; 
	border: 0.5rem solid var(--black);
	border-radius: 12px;
	width: 95%;
	height: 90vh;
	box-shadow: 0px 0px 12px #707070;
}
.time {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	font-size: 2rem;
	font-variant-numeric: tabular-nums;
	background-color: var(--background2);
	min-width: 20rem;
	min-height: 10rem;
	justify-content: center;
	position: relative;
}
.buttonContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}
#lapContainer {
	display: flex;
	flex-direction: column;
	max-height: 30rem;
	overflow: auto;
}