/* FONTS */
	/* NORMAL */
	@font-face {
		font-family:'main';
		src: url('assets/fonts/GoogleSansFlex_72pt-Regular.ttf');
	}
	@font-face {
		font-family:'bold';
		src: url('assets/fonts/GoogleSansFlex_9pt-Bold.ttf');
	}
/* ROOT */
html {
    /* 1 rem = 10px */
    font-size: 62.5%; 
}
:root {
	/* BACKGROUDNS */
	--background1: #F3F3F3;
	--background2: #FFFFFF;
	/* SOLID COLORS */
	--black: #3E3E3E;
	--green2: #239654;
	/* TEXT */
	--text1: #000000;
	--text2: #E0E0E0;
}
/* TEXT */
.lapClass {
	font-size: 32px;
}
/* GENERAL */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--text1);
	font-family:'main';
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #7d9fba;
	background-image: linear-gradient(to bottom right, #7d9fba, #5d7a91, #7d9fba);
}
/* HEADER */
header {
	min-height: 6rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 1rem 0 1rem;
	margin: 0 1rem 0 1rem;
	position: sticky;
	top: 0;
	background:transparent;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #edf7ff, #c5d7e6, #edf7ff) 1;
	gap: 2.5rem;
}
.swapButton {
	font-size: 2.5rem;
	transition: 0.1s;
}
.swapButton:hover {
	transform: scale(1.1);
	cursor: pointer;
}
/* CONTAINERS */
main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	flex: 1;
	width: 100%;
	align-items: center;
	justify-content: center;
	justify-items: center;
	min-height: 0;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding: 2rem; 
	border: 0.5rem solid var(--black);
	border-radius: 12px;
	width: 95%;
	height: 90vh;
	box-shadow: 0px 0px 12px #707070;
}
.time {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	font-size: 2rem;
	font-variant-numeric: tabular-nums;
	min-width: 20rem;
	min-height: 10rem;
	justify-content: center;
	position: relative;
}
.time h1 {
	font-size: 6rem;
}
.time * {
	background-image: linear-gradient(to bottom right, #edf7ff, #c5d7e6, #edf7ff);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent; 
}
.buttonContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}
.clockContainer {
	display: grid;
	border: solid 2px transparent;
	border-radius: 8px; 
	background:
		linear-gradient(to bottom right, #405769, #344757, #405769) padding-box,
		linear-gradient(to bottom right, #edf7ff, #c5d7e6, #edf7ff) border-box;
	box-shadow: 0px 0px 12px #303030;
	padding: 2rem;
	width: 40%;
	height: 60%;
}
#stopwatchContainer {
	height: 80%;
}
#lapContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: 100%;
	overflow-y: scroll;
	font-size: 0.5rem;
}
.SWLContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: calc( 100% - 10rem);
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.SWLContainer div {
	background-color: red;
}
/* INTERACTION */
button {
	border: solid 2px transparent;
	border-radius: 8px; 
	background:
		linear-gradient(to bottom right, #edf7ff, #c5d7e6, #edf7ff) padding-box,
		linear-gradient(to bottom right, #edf7ff, #c5d7e6, #edf7ff) border-box;
	border-radius: 12px;
	font-size: 2rem;
	padding: 2rem;
}
button:hover {
	opacity: 0.7;
	cursor: pointer;
}
/*has to be at the end to overwrite the rest*/
.notVisible {
	display: none !important;
}